{%  extends 'base.html.twig' %}

{% block title %}
    SeaCloud - Sign up
{% endblock %}

{% block body %}
    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Sign up</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Sign up</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <!-- ======= Signup Section ======= -->
        <section id="signup" class="inner-page">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Sign up</h2>
                </div>

                <div class="p-5 rounded bg-light" style="max-width: 640px;margin:auto" data-aos="fade-up">
                    <h1 class="h2 mb-3 text-center">Create your Sea Cloud account</h1>
                    <p class="lead border-bottom pb-3 mb-3 text-center">
                        Create your account and start working with your servers.
                    </p>

                    {{ form(form) }}

                </div>
            </div>
        </section><!-- End Signup Section -->

    </main><!-- End #main -->
{% endblock %}