{% extends 'base.html.twig' %}

{% block title %}
    SeaCloud - Create server
{% endblock %}

{% block body %}
    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Create server</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Create server</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <!-- ======= Dashboard Section ======= -->
        <section id="dashboard" class="inner-page">
            <div class="container">

                <div class="row gy-4">

                    {% include 'fragment/dashboard-section.html.twig' %}

                    <div class="col-md-8 col-lg-9">
                        <h2 class="mb-5">Create your new server</h2>

                        {{ form(form) }}

                    </div>
                </div>

            </div>
        </section><!-- End Login Section -->

    </main><!-- End #main -->
{% endblock %}