<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="/img/favicon.ico" rel="icon">
        <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet">

        {% block stylesheets %}
            <!-- Assets CSS Files -->
            <link href="/assets/aos/aos.css" rel="stylesheet">
            <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
            <link href="/assets/boxicons/css/boxicons.min.css" rel="stylesheet">
            <link href="/assets/remixicon/remixicon.css" rel="stylesheet">
            <link href="/assets/swiper/swiper-bundle.min.css" rel="stylesheet">

            <!-- Template Main CSS File -->
            <link href="/css/style.css" rel="stylesheet">
        {% endblock %}

    </head>
    <body>

        {% include 'fragment/header.html.twig' %}

        {% block body %}

        {% endblock %}

        {% include 'fragment/footer.html.twig' %}

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>

        {% block javascripts %}
            <script src="/assets/aos/aos.js"></script>
            <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/assets/swiper/swiper-bundle.min.js"></script>

            <!-- Template Main JS File -->
            <script src="/js/main.js"></script>
        {% endblock %}

    </body>

</html>
